<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56473424541-mji1vrbgo5svbndlttgorvlcjbmlmbu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56473424541-mji1vrbgo5svbndlttgorvlcjbmlmbu2</string>
	<key>API_KEY</key>
	<string>AIzaSyAiIGZ9wguhaJpYEObgg57cGTeZWqesfpc</string>
	<key>GCM_SENDER_ID</key>
	<string>56473424541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bestmovies</string>
	<key>PROJECT_ID</key>
	<string>bestmovies-47f7c</string>
	<key>STORAGE_BUCKET</key>
	<string>bestmovies-47f7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56473424541:ios:a5e1470d11c22f5f51ba74</string>
</dict>
</plist>